# Project Configuration
STACK_ID=frappe-v16-stack
CUSTOM_IMAGE=frappe-erpnext-hrms-insights:v16
FRAPPE_BRANCH=version-16
COMPOSE_FILE=pwd-with-apps.yml
BACKEND_CONTAINER=docker-setup-backend-1
SITE_DOMAIN=frontend

# Port Configuration
FRAPPE_PORT=8787
FRAPPE_INTERNAL_PORT=8080
BIND_ADDRESS=0.0.0.0

# Database Configuration
MYSQL_ROOT_PASSWORD=admin
MARIADB_ROOT_PASSWORD=admin
DB_PASSWORD=admin

# Admin Configuration
ADMIN_PASSWORD=admin

# Keycloak Configuration
KC_RUN_MODE=start-dev  # Change to 'start' for production
KC_DB_PASSWORD=keycloak_db_password
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin
KC_HOSTNAME=localhost # Change to your domain in production
KC_PORT=8686

# Authentik Configuration
AUTHENTIK_PORT=9000
AUTHENTIK_HTTPS_PORT=9443
AUTHENTIK_DB_PASSWORD=authentik_db_password
AUTHENTIK_DB_NAME=authentik
AUTHENTIK_DB_USER=authentik
# RUN: openssl rand -base64 64 | tr -d '\n' to generate a secret key
AUTHENTIK_SECRET_KEY=yoursecretkey_replacethis
AUTHENTIK_TAG=2024.12.3
