# Project Configuration
STACK_ID=frappe-v16-stack
CUSTOM_IMAGE=frappe-custom-v16:latest
FRAPPE_BRANCH=version-16
COMPOSE_FILE=pwd-with-apps.yml
BACKEND_CONTAINER=docker-setup-backend-1
SITE_DOMAIN=frontend

# Database Configuration
MYSQL_ROOT_PASSWORD=admin
MARIADB_ROOT_PASSWORD=admin
DB_PASSWORD=admin

# Admin Configuration
ADMIN_PASSWORD=admin
